---
# APT package management tasks

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 0
  environment:
    DEBIAN_FRONTEND: noninteractive

- name: Dist-upgrade all packages
  ansible.builtin.apt:
    upgrade: dist
  environment:
    DEBIAN_FRONTEND: noninteractive
  notify: "reboot may be required"
