name: ShellCheck

on:
  push:
    branches: [main]
    paths:
      - '**.sh'
  pull_request:
    branches: [main]
    paths:
      - '**.sh'

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: './linux'
          severity: warning
